* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  margin: 0px;
}
.boton {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(201, 201, 201);
  border-style: none;
  border-width: 0px;
  font-size: medium;
}
.boton:hover {
  opacity: 0.7;
}
#entradas {
  margin-top: 10px;
}
#favoritos {
  background-color: #d9dd12;
  margin-top: 10px;
}
.divfavoritos {
  background-color: #fbbdfd;
}
.inputnuevofav {
  padding: 7px;
  padding-top: 0px;
}
.submitfav {
  display: inline-block;
  background-color: #12d8df;
  margin-left: 7px;
}
.textonuevofav {
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

.editarfavs,
.noeditarfavs {
  display: inline-block;
  background-color: #12d8df;
  margin: 7px;
}

.noeditarfavs {
  opacity: 0.8;
}
.fav {
  display: inline-block;
  background-color: #ffee00;
}
.faveliminar {
  display: inline-block;
  background-color: #ff5050;
}
.faveliminar:hover {
  opacity: 0.5;
}
.noesfav {
  display: inline-block;
  padding: 10px;
  margin: 7px;
}
.textolargoregistros{
  color: #5f6368;
  
}
.noesfav:hover {
  background-color: #fbff00;
  opacity: 1;
}
.esfav {
  display: inline-block;
  background-color: #fbff00;
}
.tituloDia {
  margin: 0px;
  padding: 6px;
}
.boton.copiar {
  background-color: #5dfaff;
  float: right;
}
.boton.importar {
  background-color: #5dff78;
  float: right;
}
.textoimportar {
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 80%;
  height: auto;
  resize: none;
  overflow: hidden;
  padding: 5px;
  font-size: 16px;
  line-height: 1.5;
  word-break: break-word;
}

.textoimportar:focus {
  outline: none;
}

.textoexportar {
  margin: 15px;
}
.divmenu {
  background-color: #1f1f1f;
}
.contenidomenu {
  background-color: #353535;
}
.opcion {
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  background-color: inherit;
  border: 0px;
  font-size: medium;
  display: block;
  appearance: inherit;
  width: 100%;
  text-align: left;
}
.opcion:hover {
  background-color: #666666;
}
.textoregistrar {
  padding: 10px;
  border-radius: 6px;
}
.divregistrar {
  margin: 7px;
}
.botonmenu {
  display: inline-block;
  color: #f0f0f0;
  background-color: #000000;
  padding: 10px;
  cursor: pointer;
  border-width: 0px;
  font-size: medium;
}
.botonmenu:hover {
  background-color: #363636;
}
.registro {
  padding: 6px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.registro:hover {
  backdrop-filter: brightness(0.9);
}
.dia {
  padding-top: 5px;
}
.divdetallado {
  background-color: #f4dc72;
}
.divdetallado > * {
  padding: 10px;
}
.tituloregistro {
  margin: 0px;
}
.botonguardartexto {
  background-color: aquamarine;
  margin-left: 0px;
}
.textoeditable {
  background-color: #faeaa5;
}
.textolargo {
  padding: 10px;
  word-wrap: break-word;
}
.botoneditartexto {
  background-color: #ffc0fa;
}
.volver {
  display: inline-block;
  margin: 5px;
}
.volver:hover {
  backdrop-filter: brightness(0.9);
}
.eliminar {
  display: inline-block;
  background-color: rgb(221, 0, 0);
  margin: 5px;
}
.eliminar:hover {
  opacity: 0.5;
}
.divdescifrar {
  text-align: center;
}
.textodescifrar.error,.botondescifrar.error {
  background-color: #ff5050;
}
.mensajedescifrar.error {
  color: #ff5050;
}
.textodescifrar {
  padding: 9px;
  border-radius: 6px;
}
.botonregistrar {
  margin-left: 7px;
}
.submitfav.boton {
  margin-top: 0px;
  margin-bottom: 0px;
}
.textocifrar {
  padding: 7px;
  border-radius: 6px;
}
.botoncifrar {
  padding: 7px;
}
.inputcifrar {
  text-align: center;
}
.cuadrotextolargo {
  display: block;
  border-radius: 6px;
  width: 95%;
  margin:auto;
  
  height: auto;
  resize: none;
  overflow: hidden;
  padding: 5px;
  font-size: 16px;
  line-height: 1.5;
  word-break: break-word;
}

.cuadrotextolargo:focus{
  outline: none;
}
.oculto {
  display: none;
}
.divtitulocolordiasemana{
  padding: 10px;
}
.inputcolor{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}